<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Jersey+15&family=Poppins:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css" />
    <style>
      * {
        font-family: "Jersey 15";
      }
      body {
        padding: 2rem;
        font-size: 18px;
        color: white;
        background-color: black;
      }
    </style>
  </head>
  <body>
    <div class="flex items-center justify-between">
      <h1 class="text-3xl">
        <ion-icon class="text-3xl" name="bag-outline"></ion-icon>
        Scratch
      </h1>
      <div class="profile flex items-center">
        <div class="mx-2">
          <form action="/logout" method="post">
            <button type="submit" class="text-2xl">Logout</button>
          </form>
        </div>
        <div class="bg-white rounded-full flex justify-center items-center w-12 h-12">
          <ion-icon class="text-3xl text-black" name="person-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div class="flex mt-3 items-center">
      <a href="/shop">Go Back</a>
    </div>
    <h1 class="text-4xl text-center mt-3">Product Details:</h1>

    <script>
      const quantityInput = document.getElementById("quantityInput");
      const productPrice = parseFloat(document.getElementById("productPrice").value);
      const totalPriceInput = document.getElementById("totalPrice");
      const shippingFee = 3.00;

      quantityInput.addEventListener("input", () => {
        let quantity = parseInt(quantityInput.value) || 1;
        if (quantity < 1) quantity = 1;
        totalPriceInput.value = (productPrice * quantity + shippingFee).toFixed(2);
      });
    </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
