<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Account || Login Account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Jersey+10&family=Jersey+15&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <%- include("partials/logo") %>
    <div class="w-full flex justify-center">
      <div>
        <form class="w-[500px] m-10" action="/register" method="post">
          <h1 class="text-4xl">Create Account</h1>
          <label>FullName:</label>
          <input
            class="w-full peer border-2 text-black border-black px-3 py-2 rounded-sm my-2"
            type="text"
            name="fullname"
            placeholder="Enter Your Full Name"
            />
            <label>Email:</label>
            <input
            class="w-full border-2 peer text-black border-black px-3 py-2 rounded-sm my-2"
            type="email"
            name="email"
            placeholder="Enter Your Email"
            />
            <label>Password:</label>
            <input
            class="w-full peer border-2 text-black border-black px-3 py-2 rounded-sm my-2"
            type="password"
            name="password"
            placeholder="Enter Your Password"
            />
            <label>Address:</label>
            <input
            class="w-full peer border-2 text-black border-black px-3 py-2 rounded-sm my-2"
            type="text"
            name="address"
            placeholder="Enter Your Address"
            />
            <label>Contact:</label>
            <input
            class="w-full peer border-2 text-black border-black px-3 py-2 rounded-sm my-2"
            type="number"
            name="contact"
            placeholder="Enter Your Contact"
            />
            <input
            class="w-full peer cursor-pointer bg-black border-2 border-black text-white px-3 py-2 rounded-sm my-2"
            type="submit"
            value="Create Account"
          />
        </form>
      </div>
      <div class="flex justify-center items-center">
        <p class="text-4xl border-2 p-5 rounded-full border-black">OR</p>
      </div>
      <div>
        <form class="w-[500px] m-10" action="/login" method="post">
          <h1 class="text-4xl">Login Account</h1>
          <label>Email:</label>
          <input
          class="w-full peer border-2 text-black border-black px-3 py-2 rounded-sm my-2"
            type="email"
            name="email"
            placeholder="Enter Your Email"
          />
          <label>Password:</label>
          <input
          class="w-full peer border-2 text-black border-black px-3 py-2 rounded-sm my-2"
            type="password"
            name="password"
            placeholder="Enter Your Password"
          />
          <input
          class="w-full cursor-pointer bg-black border-2 border-black text-white px-3 py-2 rounded-sm my-2"
            type="submit"
            value="Login Account"
          />
        </form>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
