<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Jersey+10&family=Jersey+15&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="./style.css" />
    <style>
      * {
        font-family: "Jersey 15";
      }
      body {
        padding: 2rem;
        font-size: 18px;
        color: white;
        background-color: black;
      }
    </style>
  </head>
  <body>
    <div class="flex items-center justify-between">
      <h1 class="text-3xl">
        <ion-icon class="text-3xl" name="bag-outline"></ion-icon>
        Scratch
      </h1>
      <div class="profile flex items-center">
        <div class="mx-2">
          <a class="text-2xl" href="/logout">Logout</a>
        </div>
        <div
          class="bg-white rounded-full flex justify-center items-center w-15 h-15"
        >
          <ion-icon
            class="text-3xl text-black"
            name="person-outline"
          ></ion-icon>
        </div>
      </div>
    </div>
    <h1 class="text-4xl text-center mt-3">Product Details:</h1>
    <div class="main-container mt-10 flex justify-center gap-5">
      <div>
        <img class="w-[500px]" src="<%= product.image %>" alt="" />
      </div>
      <div class="w-[500px]">
        <h1 class="text-3xl">Price Breakdown</h1>
        <p>Price: <%= product.price%></p>
        <p>Shipping Fee: 3.00$</p>
        <p>Platform Fee: Free</p>
        <div class="mt-3">
          <label>Size</label>
          <input
            class="w-full px-3 py-3 border-2 border-white text-white"
            type="text"
            name="size"
          />
        </div>
        <div class="mt-3">
          <label>Payment Method</label>
          <input
            class="w-full px-3 py-3 border-2 border-white text-white"
            type="text"
            name="payment"
          />
        </div>
        <% let shippingFee = 3 %>
        <p>Total Amount: <%= (product.price + shippingFee).toFixed(2) %>$</p>
        <button class="w-full px-3 py-3 bg-white border-2 border-white text-black">Buy Now</button>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
